services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    env_file:
      - .env
    command:
      - --log.level=DEBUG
      - --api.insecure=false
      - --api.dashboard=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.file.watch=true
      - --providers.file.directory=/etc/traefik/dynamic
      - --entryPoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.postgres-tcp.address=:54321
      - --certificatesresolvers.le.acme.dnschallenge=true
      - --certificatesresolvers.le.acme.dnschallenge.provider=cloudflare
      - --certificatesresolvers.le.acme.dnschallenge.resolvers=1.1.1.1:53,8.8.8.8:53
      - --certificatesresolvers.le.acme.email=${ACME_EMAIL}
      - --certificatesresolvers.le.acme.storage=acme.json
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik.rule=Host(`traefik.bytechance.dev`)
      - traefik.http.routers.traefik.entrypoints=websecure
      - traefik.http.routers.traefik.service=api@internal
      - traefik.http.routers.traefik.tls.certresolver=${CERT_RESOLVER}
      - traefik.http.middlewares.auth.basicauth.users=${DASHBOARD_AUTH}
      - traefik.http.middlewares.ipwhitelist.ipwhitelist.sourcerange=${ALLOW_LIST}
      - traefik.http.routers.traefik.middlewares=auth,ipwhitelist
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./acme.json:/acme.json
      - ./dynamic-config:/etc/traefik/dynamic:ro
    restart: unless-stopped
    networks:
      - traefik_proxy
  uptime-kuma:
    image: louislam/uptime-kuma:2
    container_name: uptime-kuma
    labels:
      - traefik.enable=true
      - traefik.http.routers.uptime-kuma.rule=Host(`uptime-kuma.bytechance.dev`)
      - traefik.http.routers.uptime-kuma.entrypoints=websecure
      - traefik.http.routers.uptime-kuma.tls.certresolver=${CERT_RESOLVER}
      - traefik.http.middlewares.uptime-kuma.ipallowlist.sourcerange={ALLOWED_HOSTS_HA}
    volumes:
      - /home/achance/docker/uptime-kuma-data:/app/data
    restart: unless-stopped
    networks:
      - traefik_proxy
#  linkding:
#    image: sissbruecker/linkding:1.45.0
#    container_name: linkding
#    restart: unless-stopped
#    volumes:
#      - ./linkding/data/:/etc/linkding/data
#    labels:
#      - traefik.enable=true
#      - traefik.http.routers.linkding.rule=Host(`linkding.achance.se`)
#      - traefik.http.routers.linkding.entrypoints=websecure
#      - traefik.http.routers.linkding.tls.certresolver=${CERT_RESOLVER}
#    networks:
#      - traefik_proxy
  filebrowser:
    container_name: filebrowser
    image: filebrowser/filebrowser:v2.57.0
    restart: unless-stopped
    networks:
      - traefik_proxy
    volumes:
      - ./filebrowser/config:/config
      - ${NFS_PATH}:/srv
    environment:
      - PUID=1000
      - PGID=1000
    labels:
      - traefik.enable=true
      - traefik.http.routers.filebrowser.rule=Host(`filebrowser.bytechance.dev`)
      - traefik.http.routers.filebrowser.entrypoints=websecure
      - traefik.http.routers.filebrowser.tls.certresolver=${CERT_RESOLVER}
  renovate:
    container_name: renovate
    image: ghcr.io/renovatebot/renovate:43.3
    restart: unless-stopped
    user: 1000:1000
    environment:
      LOG_LEVEL: debug
      LOG_FORMAT: json
      RENOVATE_CONFIG_FILE: /usr/src/app/config.json
      RENOVATE_PLATFORM: github
      RENOVATE_TOKEN: ${RENOVATE_TOKEN}
      RENOVATE_REPOSITORIES: '["ItsAchance/homeLab","ItsAchance/home-docker-compose"]'
    volumes:
      - ./renovate/job-logs:/logs
      - ./renovate/db:/db
      - ./.github/renovate.json:/usr/src/app/config.json:ro
    networks:
      - traefik_proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.renovate.rule=Host(`renovate.dockerdebian.achance.se`)
      - traefik.http.routers.renovate.entrypoints=websecure
      - traefik.http.routers.renovate.tls.certresolver=${CERT_RESOLVER}
  kiwix-serve:
    container_name: kiwix
    image: ghcr.io/kiwix/kiwix-serve:3.8.1
    restart: unless-stopped
    volumes:
      - ./kiwix:/data
    command: '*.zim'
    networks:
      - traefik_proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.kiwix.rule=Host(`kiwix.bytechance.dev`)
      - traefik.http.routers.kiwix.entrypoints=websecure
      - traefik.http.routers.kiwix.tls.certresolver=${CERT_RESOLVER}
      - traefik.http.services.kiwix.loadbalancer.server.port=8080

  umami:
    container_name: umami
    image: ghcr.io/umami-software/umami:v3.0.3
    environment:
      DATABASE_URL: postgresql://${UMAMI_POSTGRES_USER}:${UMAMI_POSTGRES_PASSWORD}@umami-db:5432/{UMAMI_DB}
      APP_SECRET: ${UMAMI_APP_SECRET}
    depends_on:
      db:
        condition: service_healthy
    init: true
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:3000/api/heartbeat"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - traefik_proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.umami.rule=Host(`umami.bytechance.dev`)
      - traefik.http.routers.umami.entrypoints=websecure
      - traefik.http.routers.umami.tls.certresolver=${CERT_RESOLVER}

  umami-db:
    container_name: umami-db
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ${UMAMI_DB}
      POSTGRES_USER: ${UMAMI_POSTGRES_USER}
      POSTGRES_PASSWORD: ${UMAMI_POSTGRES_PASSWORD}
    volumes:
      - umami-db-data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  miniflux-db:
  valkey-data:
  searxng-data:
  umami-db-data:
networks:
  traefik_proxy:
    external: true
