services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    env_file:
      - .env
    command:
      - --log.level=DEBUG
      - --api.insecure=false
      - --api.dashboard=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.file.watch=true
      - --providers.file.directory=/etc/traefik/dynamic
      - --entryPoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --certificatesresolvers.le.acme.dnschallenge=true
      - --certificatesresolvers.le.acme.dnschallenge.provider=cloudflare
      - --certificatesresolvers.le.acme.dnschallenge.resolvers=1.1.1.1:53,8.8.8.8:53
      - --certificatesresolvers.le.acme.email=${ACME_EMAIL}
      - --certificatesresolvers.le.acme.storage=acme.json
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik.rule=Host(`traefik.dockerdebian.achance.se`)
      - traefik.http.routers.traefik.entrypoints=websecure
      - traefik.http.routers.traefik.service=api@internal
      - traefik.http.routers.traefik.tls.certresolver=${CERT_RESOLVER}
      - traefik.http.middlewares.auth.basicauth.users=${DASHBOARD_AUTH}
      - traefik.http.middlewares.ipwhitelist.ipwhitelist.sourcerange=${ALLOW_LIST}
      - traefik.http.routers.traefik.middlewares=auth,ipwhitelist
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./acme.json:/acme.json
      - ./dynamic-config:/etc/traefik/dynamic:ro
    restart: unless-stopped
    networks:
      - traefik_proxy

  uptime-kuma:
    image: louislam/uptime-kuma:2
    container_name: uptime-kuma
    labels:
      - traefik.enable=true
      - traefik.http.routers.uptime-kuma.rule=Host(`uptime-kuma.dockerdebian.achance.se`)
      - traefik.http.routers.uptime-kuma.entrypoints=websecure
      - traefik.http.routers.uptime-kuma.tls.certresolver=${CERT_RESOLVER}
      - traefik.http.middlewares.uptime-kuma.ipallowlist.sourcerange={ALLOWED_HOSTS_HA}

    volumes:
      - /home/achance/docker/uptime-kuma-data:/app/data
    restart: unless-stopped
    networks:
      - traefik_proxy
 
  miniflux:
    image: miniflux/miniflux:2.2.14
    container_name: miniflux
    restart: unless-stopped
    depends_on:
      miniflux-db:
        condition: service_healthy
    labels:
      - traefik.enable=true
      - traefik.http.routers.miniflux.rule=Host(`miniflux.achance.se`)
      - traefik.http.routers.miniflux.entrypoints=websecure
      - traefik.http.routers.miniflux.tls.certresolver=${CERT_RESOLVER}
    environment:
      - DATABASE_URL=postgres://${MINIFLUX_DB_USER}:${MINIFLUX_DB_PW}@${MINIFLUX_DB_NAME}-db/miniflux?sslmode=disable
      - RUN_MIGRATIONS=1
      - CREATE_ADMIN=1
      - ADMIN_USERNAME=${MINIFLUX_USER}
      - ADMIN_PASSWORD=${MINIFLUX_PW}
      - POLLING_FREQUENCY=20
      - FETCH_YOUTUBE_WATCH_TIME=1
    networks:
      - traefik_proxy
  
  miniflux-db:
    image: postgres:17-alpine
    container_name: miniflux-db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${MINIFLUX_DB_USER}
      - POSTGRES_PASSWORD=${MINIFLUX_DB_PW}
      - POSTGRES_DB=${MINIFLUX_DB_NAME}
    volumes:
      - miniflux-db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "miniflux"]
      interval: 10s
      start_period: 30s
    networks:
      - traefik_proxy

  linkding:
    image: sissbruecker/linkding:1.44.1
    container_name: linkding
    restart: unless-stopped
    volumes:
      - ./linkding/data/:/etc/linkding/data
    labels:
      - traefik.enable=true
      - traefik.http.routers.linkding.rule=Host(`linkding.dockerdebian.achance.se`)
      - traefik.http.routers.linkding.entrypoints=websecure
      - traefik.http.routers.linkding.tls.certresolver=${CERT_RESOLVER}
    networks:
      - traefik_proxy

  filebrowser:
    container_name: filebrowser
    image: filebrowser/filebrowser:v2.45.1
    restart: unless-stopped
    networks:
      - traefik_proxy
    volumes:
      - ./filebrowser/config:/config
      - ${NFS_PATH}:/srv
    environment:
      - PUID=1000
      - PGID=1000
    labels:
      - traefik.enable=true
      - traefik.http.routers.filebrowser.rule=Host(`filebrowser.dockerdebian.achance.se`)
      - traefik.http.routers.filebrowser.entrypoints=websecure
      - traefik.http.routers.filebrowser.tls.certresolver=${CERT_RESOLVER}
       
  renovate:
    container_name: renovate
    image: ghcr.io/renovatebot/renovate:42.8
    restart: unless-stopped
    user: 1000:1000
    environment:
      LOG_LEVEL: debug
      LOG_FORMAT: json
      RENOVATE_CONFIG_FILE: /usr/src/app/config.json
      RENOVATE_PLATFORM: github
      RENOVATE_TOKEN: ${RENOVATE_TOKEN}
      RENOVATE_REPOSITORIES: '["ItsAchance/homeLab","ItsAchance/home-docker-compose"]'
    volumes:
      - ./renovate/job-logs:/logs
      - ./renovate/db:/db
      - ./.github/renovate.json:/usr/src/app/config.json:ro
    networks:
      - traefik_proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.renovate.rule=Host(`renovate.dockerdebian.achance.se`)
      - traefik.http.routers.renovate.entrypoints=websecure
      - traefik.http.routers.renovate.tls.certresolver=${CERT_RESOLVER}

  kiwix-serve:
    container_name: kiwix
    image: ghcr.io/kiwix/kiwix-serve:3.8.0
    restart: unless-stopped
    volumes:
      - ./kiwix:/data
    command: '*.zim'
    networks:
      - traefik_proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.kiwix.rule=Host(`kiwix.dockerdebian.achance.se`)
      - traefik.http.routers.kiwix.entrypoints=websecure
      - traefik.http.routers.kiwix.tls.certresolver=${CERT_RESOLVER}
      - traefik.http.services.kiwix.loadbalancer.server.port=8080



volumes:
  miniflux-db:
  valkey-data:
  searxng-data:

networks:
  traefik_proxy:
    external: true
